
.cityList{
    width: 270px;
    max-height: 400px;
    /* background-color: antiquewhite; */
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

input{
    width:300px;
    padding: 8px;
}
.cityLi{
    padding: 8px;
    /* background-color: aqua; */
    margin: none;
    list-style-type: none;

}

.cityLi:hover{
    background-color: green;
    color: yellow;
    
}
.cityLi:active{
    transform: scale(1,1.1);
}